<div ass='container-fluid'>
  <div class=''>
    <uib-alert ng-repeat="alert in Alerts" type="{{alert.type}}" close="CloseAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.message}}</uib-alert>
    <div class='panel-group'>
      <div class='panel panel-default panel-patch'>
        <div class='panel-heading' data-toggle='collapse' data-target='#content2'>数据面板</div>
        <div class='panel-body'>
          <div class='btn-group'>
            <button ng-click='Create()' title='添加组' class='btn btn-default' type='button' data-toggle='modal' data-target='#modal'>
              <i class="fa fa-plus-circle"></i>
            </button>
            <button ng-click='Update()' title='修改组' class='btn btn-default' type='button'>
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button ng-click='Delete()' title='删除组' class='btn btn-default' type='button'>
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div class='columns columns-right btn-group pull-right'>
            <button class='btn btn-default' type='button'>
              <i class="fa fa-refresh"></i>
            </button>
            <div class='keep-open btn-group' title='列'>
              <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                <i class="fa fa-table"></i>
                <span class='caret'></span>
              </button>
            </div>
          </div>
        </div>
        <!-- table  -->
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th><input type='checkbox'/></th>
              <th>用户名</th>
              <th>姓名</th>
              <th>手机号</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ContactUser in ContactUsers">
              <td><input type="checkbox"/></td>
              <td>{{ ContactUser.sysUserVo.username }}</td>
              <td>{{ ContactUser.sysUserVo.personName }}</td>
              <td>{{ ContactUser.sysUserVo.phoneNo }}</td>
              <td>{{ ContactUser.sysUserVo.email }}</td>
            </tr>
          </tbody>
        </table>

        <div class='pull-right'>
          <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
        </div>
        <!-- table  -->
      </div>
    </div>
  </div>
</div>

<script type='text/ng-template' id='contactsGroupModal.html'>
  <div class='modal-header'>
    {{OperationType}}告警联系人组
    <button ng-click='Cancel()' type='button' class='close' data-dismiss='modal'>&times;</button>
  </div>
  <div class='modal-body'></div>
  <div class='modal-footer'>
    <button ng-click='Cancel()' class='btn btn-warning' type='button'>取消</button>
    <button ng-click='Confirm()' class='btn btn-primary' type='button'>确认</button>
  </div>
</script>
