@charset "utf-8";
#login {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('images/login/background.jpg');
}
#login .form-box {
  padding-top: 10em;
}
#login .form-box .form-head {
  overflow: hidden;
  background: #eee;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}
#login .form-box .form-head .cn {
  padding: 15px 0 6px 25px;
  display: block;
  font-size: 2.5rem;
  opacity: 0.9;
}
#login .form-box .form-head .en {
  padding: 0 10px 16px 27px;
  display: block;
  font-size: 1.6rem;
  opacity: 0.7;
}
#login .form-box .form-body {
  padding: 25px 25px 30px;
  background: #D6D6D6;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}
#login .form-box .form-body .input-group {
  margin-bottom: 20px;
}
#login .form-box .form-body input {
  color: #888;
}
#login .form-box .form-body button {
  width: 100%;
}
#main .sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #303030;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#main .content {
  height: 100%;
  margin: 0 0 0 250px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#main .content .navbar {
  position: fixed;
  height: 40px;
  width: 100%;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  z-index: 99;
}
#main .content .navbar .toggler {
  display: inline-block;
  background: none;
  border: 0;
  outline: none;
  padding-left: 10px;
}
#main .content .navbar .nav-bread {
  display: inline-block;
  padding: 14px 15px;
  margin-bottom: 0;
}
#main .content .navbar .nav-bread li {
  cursor: pointer;
}
#main .content .partial-view {
  margin-top: 50px;
  padding: 15px 30px;
  color: #5D5F63;
  z-index: -1;
}
#main .sidebar-collapse {
  margin-left: -250px;
}
#main .content-collapse {
  margin-left: 0;
}
#dashboard .home-data-bar {
  height: 49%;
  border: 1px solid;
  margin-top: 0;
}
#dashboard .home-data-bar.margin-top {
  margin-top: 6px;
}
#dashboard .home-data-bar .part1 {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #2272C3;
}
#dashboard .home-data-bar .part2 {
  width: 30%;
  height: 100%;
  float: left;
}
#dashboard .home-data-bar .part3 {
  float: right;
  width: 40%;
  height: 100%;
  background-color: #996600;
}
#dashboard .home-data-bar .fontshow {
  margin-top: 30px;
  word-wrap: break-word;
  font-size: 20px;
  text-align: center;
}
#dashboard .home-data-bar .fontshow.white {
  color: white;
}
#dashboard .home-data-bar .font-mini {
  text-align: right;
  color: white;
  font-size: 13px;
}
#dashboard .panel-body {
  border-style: hidden;
  border-width: 0;
}
