@charset "utf-8";
.modal-panel-patch {
  margin-bottom: 0;
}
#login {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('images/login/background.jpg');
}
#login .form-box {
  padding-top: 10em;
}
#login .form-box .form-head {
  overflow: hidden;
  background: #eee;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}
#login .form-box .form-head .cn {
  padding: 15px 0 6px 25px;
  display: block;
  font-size: 2.5rem;
  opacity: 0.9;
}
#login .form-box .form-head .en {
  padding: 0 10px 16px 27px;
  display: block;
  font-size: 1.6rem;
  opacity: 0.7;
}
#login .form-box .form-body {
  padding: 25px 25px 30px;
  background: #D6D6D6;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}
#login .form-box .form-body .input-group {
  margin-bottom: 20px;
}
#login .form-box .form-body input {
  color: #888;
}
#login .form-box .form-body button {
  width: 100%;
}
#main .sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  background-repeat: repeat-x;
}
#main .sidebar a,
#main .sidebar a:hover,
#main .sidebar a:focus,
#main .sidebar a:active {
  outline: none;
}
#main .sidebar .head {
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}
#main .sidebar .head .logo {
  margin-left: 20px;
  padding-left: 50px;
  padding-top: 10px;
  color: #088DCB;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 210px;
  height: 45px;
  background: url('images/logo.png') no-repeat;
  background-size: 45px 45px;
}
#main .sidebar .body .search-box {
  padding: 9px 24px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.9);
}
#main .sidebar .body .search-box .decoration {
  height: 25px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.7);
}
#main .sidebar .body .search-box .decoration .search-input {
  background: none;
  border: none;
  color: #EEE;
  outline: none;
  font-size: 12px;
  padding-left: 12px;
}
#main .sidebar .body .search-box .decoration .search-link {
  color: #CCC;
}
#main .sidebar .body .search-box .decoration .search-link :hover {
  color: #DDD;
}
#main .sidebar .body .search-box .decoration .search-link .search-icon {
  font-size: 14px;
  position: relative;
  left: 10px;
  top: 3px;
}
#main .sidebar .body ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
}
#main .sidebar .body ul li,
#main .sidebar .body ul a {
  display: block;
}
#main .sidebar .body ul a {
  padding: 10px 28px;
  color: #EEE;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}
#main .sidebar .body ul a:hover,
#main .sidebar .body ul a:focus,
#main .sidebar .body ul a:active {
  color: #FFF;
  text-decoration: none;
}
#main .sidebar .body ul ul a {
  padding: 10px 45px;
  background-color: rgba(255, 255, 255, 0.1);
}
#main .sidebar .body ul ul a:hover,
#main .sidebar .body ul ul a:focus,
#main .sidebar .body ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
#main .sidebar .body ul ul ul a {
  padding-left: 62px;
}
#main .content {
  height: 100%;
  margin: 0 0 0 250px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main .content .navbar {
  position: fixed;
  height: 40px;
  left: 250px;
  right: 0;
  background: #F5F5F5;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  z-index: 99;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main .content .navbar .left {
  float: left;
}
#main .content .navbar .left .toggler {
  display: inline-block;
  border: 0;
  outline: none;
  padding: 0;
  margin: 10px;
  width: 29px;
  height: 29px;
  background: url('images/main/sidebar-toggler.jpg') no-repeat;
}
#main .content .navbar .left .nav-bread {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 6px 0;
}
#main .content .navbar .left .nav-bread li {
  cursor: pointer;
}
#main .content .navbar .right {
  float: right;
}
#main .content .navbar .right .search {
  float: left;
  display: inline-block;
}
#main .content .navbar .right .profile {
  float: right;
  display: inline-block;
  height: 34px;
}
#main .content .navbar .right .profile .dropdown {
  float: right;
}
#main .content .navbar .right .profile .dropdown .user-wrap {
  background: none;
  border: none;
  outline: none;
}
#main .content .navbar .right .profile .dropdown .user-wrap.active,
#main .content .navbar .right .profile .dropdown .user-wrap:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#main .content .navbar .search-profile {
  margin: 7px 5px;
}
#main .content .navbar .search-profile .content-search {
  border-radius: 10px;
  height: 28px;
  margin: 3px 0;
}
#main .content .partial-view {
  margin-top: 50px;
  padding: 15px 16px;
  z-index: -1;
  color: #333;
  font-size: 13px;
}
#main .content .partial-view .form-inline .form-group {
  margin: 5px 0;
}
#main .sidebar-collapse {
  margin-left: -250px;
}
#main .content-collapse {
  margin-left: 0;
}
#main .nav-collapse {
  left: 0 !important;
}
#dashboard .home-data-bar {
  height: 49%;
  border: 1px solid;
  margin-top: 0;
}
#dashboard .home-data-bar.margin-top {
  margin-top: 6px;
}
#dashboard .home-data-bar .part1 {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #2272C3;
}
#dashboard .home-data-bar .part2 {
  width: 30%;
  height: 100%;
  float: left;
}
#dashboard .home-data-bar .part3 {
  float: right;
  width: 40%;
  height: 100%;
  background-color: #996600;
}
#dashboard .home-data-bar .fontshow {
  margin-top: 30px;
  word-wrap: break-word;
  font-size: 20px;
  text-align: center;
}
#dashboard .home-data-bar .fontshow.white {
  color: white;
}
#dashboard .home-data-bar .font-mini {
  text-align: right;
  color: white;
  font-size: 13px;
}
#dashboard .panel-body {
  border-style: hidden;
  border-width: 0;
}
