#login {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("images/login/background.jpg");
}
#login .form-box {
  padding-top: 10em;
}
#login .form-box .form-head {
  overflow: hidden;
  background: #eee;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}
#login .form-box .form-head .cn {
  padding: 15px 0 6px 25px;
  display: block;
  font-size: 1.8em;
  opacity: 0.9;
}
#login .form-box .form-head .en {
  padding: 0 10px 16px 27px;
  display: block;
  font-size: 1.3em;
  opacity: 0.7;
}
#login .form-box .form-body {
  padding: 25px 25px 30px;
  background: #D6D6D6;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}
#login .form-box .form-body .input-group {
  margin-bottom: 20px;
}
#login .form-box .form-body input {
  color: #888;
}
#login .form-box .form-body button {
  width: 100%;
}
