<div id='login'>
  <div class='container'>
    <div class='row'>
      <!-- START -->
      <div class='form-box col-sm-6 col-sm-offset-3'>
        <div class='form-head'>
          <span class='cn'>勤智大数据中心共享平台</span>
          <span class='en'>Center Platform With WiSERV Big Data</span>
        </div>
        <div class='form-body'>
          <form role='form' action='#' method='post'>
            <div class='input-group'>
              <span class='input-group-addon'>
                <span class='glyphicon glyphicon-user'></span>
              </span>
              <input type='text' ng-model='login.username' class='form-control' placeholder='用户名'>
            </div>
            <div class='input-group'>
              <span class='input-group-addon'>
                <span class='glyphicon glyphicon-lock'></span>
              </span>
              <input type='password' ng-model='login.password'  class='form-control' placeholder='密码'>
            </div>
            <div class="checkbox">
              <label>
                <input ng-model="login.remembered" type="checkbox">
                <p class="text-muted">记住密码</p>
              </label>
            </div>
            <button ng-click='login.submit()' type='button' class='btn btn-success'>登 陆</button>
          </form>
        </div>
      </div>
      <!-- END -->
    </div>
  </div>
</div>
