<div class='container-fluid'>
  <div class='row'>
    <!-- Pop alert message after Update or Create be finished -->
    <uib-alert ng-repeat="alert in Alerts" type="{{alert.type}}" close="CloseAlert($index)" dismiss-on-timeout="{{alert.timeout}}">{{alert.message}}</uib-alert>
    <!-- Content Panel -->
    <div class='panel-group'>
      <div class='panel panel-default'>
        <div class='panel-heading' data-toggle='collapse' data-target='#content1'>查询面板</div>
        <div id='content1' class='panel-collapse collapse in'>
          <div class='panel-body'>
            <form class='form-inline'>
              <div class='form-group'>
                <div class='input-group'>
                  <div class='input-group-addon'>资源目录类型</div>
                  <select ng-model='CategoryName' class='form-control'>
                    <option>主题</option>
                    <option>服务</option>
                  </select>
                </div>
                <div class='input-group'>
                  <div class='input-group-addon'>资源目录名称</div>
                  <input ng-model='CatalogName' type='text' class='form-control' placeholder='请输入...'>
                </div>
                <button ng-click='Search()' class='btn btn-primary'>
                  <span class='glyphicon glyphicon-search'></span>
                  查询
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='panel panel-default panel-patch'>
      <div class='panel-heading' data-toggle='collapse' data-target='#content2'>数据面板</div>
      <div id='content2' class='panel-collapse collapse in'>
        <div class='panel-body'>
          <div>
            <div class='btn-group'>
              <button ng-click='Create()' class='btn btn-default' type='button' data-toggle='modal' data-target='#modal'>
                <i class="fa fa-plus-circle"></i>
              </button>
              <button ng-click='Update()' class='btn btn-default' type='button'>
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button ng-click='Delete()' class='btn btn-default' type='button'>
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class='columns columns-right btn-group pull-right'>
              <button class='btn btn-default' type='button'>
                <i class="fa fa-refresh"></i>
              </button>
              <div class='keep-open btn-group' title='列'>
                <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                  <i class="fa fa-table"></i>
                  <span class='caret'></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <table class='table table-bordered table-hover table-striped'>
          <thead>
            <tr>
              <th><input type='checkbox'/></th>
              <th>资源目录类型</th>
              <th>资源目录名称</th>
              <th>资源目录编码</th>
              <th>父目录编码</th>
              <th>资源目录描述</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='ResourceCatalog in ResourceCatalogs'>
              <th scope='row'><input data-id='{{ResourceCatalog.id}}' type='checkbox'/></th>
              <td>{{ResourceCatalog.categoryName}}</td>
              <td>{{ResourceCatalog.catalogName}}</td>
              <td>{{ResourceCatalog.catalogCode}}</td>
              <td>{{ResourceCatalog.parentCode}}</td>
              <td>{{ResourceCatalog.catalogDesc}}</td>
              <td>{{ResourceCatalog.activeFlagName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class='pull-right'>
      <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage'  ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
    </div>

  </div>
</div>


<script type='text/ng-template' id='myModalContent.html'>
  <div class='modal-header'>
    <i class="fa fa-server"></i> {{OperationType}}资源目录
    <button ng-click='Cancel()' type='button' class='close' data-dismiss='modal'>&times;</button>
  </div>
  <div class='modal-body'>
    <form class='form-horizontal'>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>目录类型</label>
        <div class='col-sm-9'>
          <select ng-model='Model.category' class='form-control'>
            <option value='1'>主题</option>
            <option value='3'>服务</option>
          </select>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>资源目录编码</label>
        <div class='col-sm-9'><input ng-model='Model.catalogCode' type='text' class='form-control' placeholder='必填'></div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>父节点编码</label>
        <div class='col-sm-9'><input ng-model='Model.parentCode' type='text' class='form-control' placeholder='必填'></div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>资源目录名称</label>
        <div class='col-sm-9'><input ng-model='Model.catalogName' type='text' class='form-control' placeholder='必填'></div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>资源目录顺序</label>
        <div class='col-sm-9'><input ng-model='Model.catalogOrd' type='text' class='form-control' placeholder='必填'></div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>资源目录状态</label>
        <div class='col-sm-9'>
          <label class='radio-inline'>
            <input  ng-model='Model.activeFlag' ng-value='1' type='radio'>启用
          </label>
          <label class='radio-inline'>
            <input  ng-model='Model.activeFlag' ng-value='0' type='radio'>禁用
          </label>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>资源目录描述</label>
        <div class='col-sm-9'>
          <textarea ng-model='Model.catalogDesc' class='form-control' rows='3'></textarea>
        </div>
      </div>
    </div>
    <div class='modal-footer'>
      <button ng-click='Comfirm()' class='btn btn-primary' type='button'>确认</button>
      <button ng-click='Cancel()' class='btn btn-warning' type='button'>取消</button>
    </div>
  </script>

<!-- End for Modal
<div class='modal fade' id='modal'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='panel panel-default panel-patch'>
        <div class='panel-heading'>
          添加资源目录
          <button type='button' class='close' data-dismiss='modal'>&times;</button>
        </div>
        <div class='panel-body'>
          <form class='form-horizontal'>
            <div class='form-group'>
              <label class='col-sm-3 control-label'>目录类型</label>
              <div class='col-sm-9'>
                <select class='form-control'>
                  <option>主题</option>
                  <option>服务</option>
                </select>
              </div>
            </div>
            <div class='form-group'>
              <label class='col-sm-3 control-label'>父节点编码</label>
              <div class='col-sm-9'><input type='text' class='form-control' placeholder='必填'></div>
            </div>
            <div class='form-group'>
              <label class='col-sm-3 control-label'>资源目录编码</label>
              <div class='col-sm-9'><input type='text' class='form-control' placeholder='必填'></div>
            </div>
            <div class='form-group'>
              <label class='col-sm-3 control-label'>资源目录名称</label>
              <div class='col-sm-9'><input type='text' class='form-control' placeholder='必填'></div>
            </div>
            <div class='form-group'>
              <label class='col-sm-3 control-label'>资源目录顺序</label>
              <div class='col-sm-9'><input type='text' class='form-control' placeholder='必填'></div>
            </div>
            <div class='form-group'>
              <label class='col-sm-3 control-label'>资源目录状态</label>
              <div class='col-sm-9'>
                <label class='radio-inline'>
                  <input type='radio'>启用
                </label>
                <label class='radio-inline'>
                  <input type='radio'>禁用
                </label>
              </div>
            </div>
            <div class='form-group'>
              <label class='col-sm-3 control-label'>资源目录描述</label>
              <div class='col-sm-9'>
                <textarea class='form-control' rows='3'></textarea>
              </div>
            </div>
            <div class='form-group input-sm'>
              <div class='col-sm-12'>
                <button type='button' class='btn btn-primary btn-sm pull-right'>确定</button>
                <div class='pull-right block-split'/>
                <button type='button' class='btn btn-default btn-sm pull-right' data-dismiss='modal'>取消</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
End for Modal -->
