<div class='container-fluid'>
  <div class='row'>
    <div class='panel-group'>
      <div class='panel panel-default'>
        <div class='panel-heading' data-toggle='collapse' data-target='#content1'>查询面板</div>
        <div id='content1' class='panel-collapse collapse in'>
          <div class='panel-body'>
            <form class='form-inline'>
              <div class='form-group'>
                <div class='input-group'>
                  <div class='input-group-addon'>资源目录类型</div>
                  <select class='form-control'>
                    <option>主题</option>
                    <option>服务</option>
                  </select>
                </div>
                <div class='input-group'>
                  <div class='input-group-addon'>资源目录名称</div>
                  <input type='text' class='form-control' placeholder='请输入...'>
                </div>
                <button type='submit' class='btn btn-primary'>
                  <span class='glyphicon glyphicon-search'></span>
                  查询
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='panel panel-default'>
      <div class='panel-heading' data-toggle='collapse' data-target='#content2'>数据面板</div>
      <div id='content2' class='panel-collapse collapse in'>
        <div class='panel-body'>
          <!-- Pannel Body -->
          <div class="form-group">
            <div class="col-sm-3">
              <label class="control-label">字段过滤器A</label>
              <input type="text" class="form-control input-sm" ng-model="filterBy.name" />
            </div>
            <div class="col-sm-3">
              <label class="control-label">字段过滤器B</label>
              <input type="text" class="form-control input-sm" ng-model="filterBy['sf-location']" />
            </div>
          </div>
          <!-- #Pannel Body -->
        </div>
        <!-- ng-tasty table -->
        <div tasty-table bind-resource-callback="getResource" bind-init="init" bind-filters="filterBy">
          <table class="table table-bordered table-hover table-striped">
            <thead tasty-thead></thead>
            <tbody>
              <tr ng-repeat="row in rows">
                <td>{{ row.categoryName }}</td>
                <td>{{ row.nacatalogNameme }}</td>
                <td>{{ row.catalogCode }}</td>
                <td>{{ row.parentCode }}</td>
                <td>{{ row.catalogDesc }}</td>
                <td>{{ row.activeFlagName }}</td>
              </tr>
            </tbody>
          </table>
          <div tasty-pagination></div>
        </div>
        <!-- #ng-tasty table -->
      </div>
    </div>

  </div>
</div>
