#main{
  header{
    position: fixed;
    height: 40px;
    width: 100%;
    background: #303030;
    margin-left: 250px;
  }
  nav{
    display: inline-block;
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #303030;
    color:white;
  }
  article{

  }
}
