<div my-default-dash id="dashboard">

    <!-- department data -->
    <div class='row' >
      <div class='col-md-6'>
        <div class='panel panel-default panel-patch'>
          <div class='panel-heading' data-toggle='collapse' data-target='.row-first'>部门数据概况</div>
          <div id='departmentData' class='panel-collapse collapse in row-first'>
            <div class='panel-body'>
              <div id='dept-chart' style='height:300px;'></div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-6' >
        <div class='panel panel-default panel-patch'>
          <div class='panel-heading' data-toggle='collapse' data-target='.row-first'>平台告警</div>
          <div id='platformAlarm' class='panel-collapse collapse in row-first'>
            <div class='panel-body'>
              <div id='plat-alarm-chart' style='height:300px;overflow: hidden;'>
                <table class='table table-hover table-striped'>
                  <thead>
                    <tr>
                      <th>告警类型</th>
                      <th>告警名称</th>
                      <th>告警内容</th>
                      <th>告警时间</th>
                      <th>状态</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>服务器告警</td>
                      <td>系统异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-info">确认</span>
                      </td>
                    </tr>
                    <tr>
                      <td>服务器告警</td>
                      <td>异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-warning">忽略</span>
                      </td>
                    </tr>
                    <tr>
                      <td>系统告警</td>
                      <td>系统异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-danger">未处理</span>
                      </td>
                    </tr>
                    <tr>
                      <td>服务器告警</td>
                      <td>系统异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-info">确认</span>
                      </td>
                    </tr>
                    <tr>
                      <td>服务器告警</td>
                      <td>异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-warning">忽略</span>
                      </td>
                    </tr>
                    <tr>
                      <td>系统告警</td>
                      <td>系统异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-danger">未处理</span>
                      </td>
                    </tr>
                    <tr>
                      <td>服务器告警</td>
                      <td>系统异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-info">确认</span>
                      </td>
                    </tr>
                    <tr>
                      <td>系统告警</td>
                      <td>系统异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-danger">未处理</span>
                      </td>
                    </tr>
                    <tr>
                      <td>服务器告警</td>
                      <td>系统异常</td>
                      <td>系统自动关机</td>
                      <td>04/03/2016 17:23</td>
                      <td>
                        <span class="label label-info">确认</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- server usage -->
  <div class='row' style='margin-top:15px;'>
    <div class='col-md-9'>
      <div class='panel panel-default panel-patch '>
        <div class='panel-heading' data-toggle='collapse' data-target='.row-second'>服务器监控</div>
        <div id='serverManage' class='panel-collapse collapse in row-second'>
          <div class='panel-body'>

            <div class='col-md-3'>
              <div class='serverRate2' style='height:100px'></div>
            </div>
            <div class='col-md-3'>
              <div class='serverRate3' style='height:100px'></div>
            </div>
            <div class='col-md-3'>
              <div class='serverRate4' style='height:100px'></div>
            </div>
            <div class='col-md-3'>
              <div class='serverRate5' style='height:100px'></div>
            </div>
            <div id='realtime-rate' class='' style='height:280px;clear:left'></div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='panel panel-default panel-patch' style=''>
        <div class='panel-heading' data-toggle='collapse' data-target='.row-second'>数据访问日志</div>
        <div id='dataVisitLog' class='panel-collapse collapse in row-second'>
          <div class='panel-body'>
            <div id='data-visit-chart' style='height:380px;overflow: hidden;'>
              <ul class='data-visit-logs'>
                <li>
                  <i class='fa fa-list-alt pull-left icon-success'></i>
                  <p>访问首页，查看平台整体数据概况。
                  </p>
                  <div class='visit-info'>
                    <span class='visit-time' >3分钟以前</span>
                    <span class='pull-right visit-user'>Anna</span>
                  </div>
                </li>
                <li>
                  <i class='fa fa-list-alt pull-left icon-success'></i>
                  <p>访问经济指标数据展示。
                  </p>
                  <div class='visit-info'>
                    <span class='visit-time' >10分钟以前</span>
                    <span class='pull-right visit-user'>Anna</span>
                  </div>
                </li>
                <li>
                  <i class='fa fa-cloud-download pull-left icon-default'></i>
                  <p title='下载二期开发功能表20151231_测试疑问_测试人员调整.xlsx'>下载二期开发功能表20151231_测试疑问_测试人员调整.xlsx。

                  </p>
                  <div class='visit-info'>
                    <span class='visit-time' >15分钟以前</span>
                    <span class='pull-right visit-user'>测试</span>
                  </div>
                </li>
                <li>
                  <i class='fa fa-cloud-download pull-left icon-default'></i>
                  <p title='下载二期开发功能表20151231_测试疑问_测试人员调整.xlsx'>下载二期开发功能表20151231_测试疑问_测试人员调整.xlsx。

                  </p>
                  <div class='visit-info'>
                    <span class='visit-time' >15分钟以前</span>
                    <span class='pull-right visit-user'>测试</span>
                  </div>
                </li>
                <li>
                  <i class='fa fa-list-alt pull-left icon-success'></i>
                  <p>访问首页，查看平台整体数据概况。
                  </p>
                  <div class='visit-info'>
                    <span class='visit-time' >3分钟以前</span>
                    <span class='pull-right visit-user'>Anna</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row' style='margin-top:15px;'>
    <!-- platform info -->
    <div class=' col-md-4'>
      <div class='panel panel-default panel-patch'>
        <div class='panel-heading' data-toggle='collapse' data-target='.row-third'>平台数据整体概况</div>
        <div id='content4' class='panel-collapse collapse in row-third'>
          <div class='panel-body'>
            <div id='plat-pie-chart' style='height:300px;'></div>
          </div>
        </div>
      </div>
    </div>

    <!-- platform history data -->
    <div class='col-md-8'>
      <div class='panel panel-default panel-patch'>
        <div class='panel-heading' data-toggle='collapse' data-target='.row-third'>平台历史访问量统计</div>
        <div id='content5' class='panel-collapse collapse in row-third'>
          <div class='panel-body'>
            <div id='plat-his-chart' style='height:300px;'></div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
