<div wiserv-contacts-group>
  <div class="searchBar panel panel-default" style="margin-bottom:5px;">
    <div class="panel-heading" role="tab" title="点击收缩/展开查询条件" data-toggle="collapse" aria-expanded="true" aria-controls="collapseSearch" href="#collapseSearch" style="cursor: pointer">
      <div class="panel-title" style="font-size: 14px;">
        <span class="text-muted">告警组列表</span>
        <div class="pull-right">
          <i class="glyphicon glyphicon-chevron-up"></i>
        </div>
      </div>
    </div>
    <div class="panel-collapse collapse in" id="collapseSearch" role="tabpanel" aria-labelledby="headingSearch">
      <div class="panel-body">
        <form class="form-inline" style="margin-bottom:0">
          <div class="form-group">
            <select id="" class="selectpicker">
              <option value="">全部</option>
            </select>
          </div>
          <div class="btn-group">
            <button title="" class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-plus"></i>添加组
            </button>
            <button title="" class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-pencil"></i>修改组
            </button>
            <button title="" class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-remove"></i>删除组
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <table id="table"></table>
</div>
