<div id="main">
  <!-- Top bar -->
  <header></header>
  <!-- Left Menu -->
  <nav id="navMenu">
    <div class="nav-wrapper">
      <div class="menu">Menu</div>
      <ul class="menu-list">
        <li><a href="#">Index</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- Content -->
  <article id="content">
    <button id="sidebarToggler"><img src="styles/images/main/sidebar-toggler.jpg"/></button>
  </article>
</div>
