<div default-dash id="dashboard">
  <ul class="nav nav-tabs" id="navTabs">
    <li id='1' class="active"><a href='javascript:void(0)' >按大小</a></li>
    <li id='2'><a href='javascript:void(0)'>按条数</a></li>
  </ul>
  <div class="collapseBar panel panel-default" style="margin-bottom:5px;">
    <div class="panel-heading" role="tab" id="baseStatistics" title="点击收缩/展开平台容量统计" data-toggle="collapse" href="#showBaseStatistics" aria-expanded="true" aria-controls="showBaseStatistics" style="cursor: pointer">
      <div class="panel-title" style="font-size: 14px;">
        <span class="text-muted">平台容量统计</span>
        <div class="pull-right">
          <i class="glyphicon glyphicon-chevron-up"></i>
        </div>
      </div>
    </div>
    <div id="showBaseStatistics" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="baseStatistics">
      <div class="panel-body">
        <div class=" col-md-7" style="padding: 0;">
          <div id="high-pie-donut" style="height:300px;min-width:450px;border: 1px solid;"></div>
        </div>
        <div class=" col-md-5" style="padding: 0;">
          <div id="platformDataBar" style="height:300px;margin-left: 10px;border: 1px solid;">
            <div class="home-data-bar" style="display: none;">
              <div class="part1">
                <div class="text fontshow white">
                  <p>
                    <span class="font-style data-name"></span>
                  </p>
                </div>
              </div>
              <div class="part2">
                <div class="fontshow data-value"></div>
              </div>
              <div class="part3">
                <div class="text fontshow white">
                  <p>
                    <span class="font-style data-increase"></span>
                  </p>
                </div>
                <div class="font-mini latest-increase">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapseBar panel panel-default" style="margin-bottom:5px;">
    <div class="panel-heading" role="tab" id="historyStatistics" title="点击收缩/展开平台历史数据量统计" data-toggle="collapse" href="#showHistoryStatistics" aria-expanded="true" aria-controls="showHistoryStatistics" style="cursor: pointer">
      <div class="panel-title" style="font-size: 14px;">
        <span class="text-muted">平台历史数据量统计</span>
        <div class="pull-right">
          <i class="glyphicon glyphicon-chevron-up"></i>
        </div>
      </div>
    </div>
    <div id="showHistoryStatistics" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="historyStatistics">
      <div class="panel-body">
        <div id="high-chart" style="height:300px;"></div>
      </div>
    </div>
  </div>
</div>
