<div id="login">
  <div class="container">
    <div class="row">
      <!-- START -->
      <div class="form-box col-lg-6 col-lg-offset-3">
        <div class="form-head">
          <span class="cn">勤智大数据中心共享平台</span>
          <span class="en">WiSERV Big Data Center Platform</span>
        </div>
        <div class="form-body">
          <form role="form" action="#" method="post">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </span>
              <input type="text" class="form-control" placeholder="用户名">
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
              <input type="password" class="form-control" placeholder="密码">
            </div>
            <button type="submit" class="btn btn-success">登 陆</button>
          </form>
          <!-- END -->
        </div>
      </div>
    </div>
  </div>
</div>
