<div wiserv-main-wrapper>
  <div id="main">
    <!-- Left Menu -->
    <aside class="sidebar">
      <div class='head'>
        <span class="glyphicon glyphicon-object-align-left"></span>
        Wiserv Big Data
      </div>
      <div class='body'>
        <ul wiserv-menu-tree class="metismenu" id="menu">
          <li class="active">
            <a href="#" aria-expanded="true">Menu 1</a>
            <ul aria-expanded="true">
            <li>
              <a>
                <span class="sidebar-nav-item-icon fa fa-code-fork"></span>
                Child-1
              </a>
            </li>
            <li>
              <a>
                <span class="sidebar-nav-item-icon fa fa-star"></span>
                Child-2
              </a>
            </li>
            <li>
              <a>
                <span class="sidebar-nav-item-icon fa
            fa-exclamation-triangle"></span>
                Child-3
              </a>
            </li>
            </ul>
          </li>
        </ul>
      </div>
    </aside>
    <!-- Content -->
    <article class="content">
      <nav class="navbar navbar-default">
        <button class="toggler"></button>
        <ol class="breadcrumb nav-bread">
          <li>
            <a>数据资源管理</a>
          </li>
          <li>
            <a>元数据管理</a>
          </li>
          <li>数据接入资源管理</li>
        </ol>
      </nav>
      <div ui-view class="partial-view"></div>
    </article>
  </div>
</div>
