<div main-wrapper>
  <div id="main">
    <!-- Left Menu -->
    <nav id="navMenu">
      <div class="nav-wrapper">
        <div class="menu">Menu</div>
        <ul class="menu-list">
          <li><a href="#">Index</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">About</a></li>
          <li><a ui-sref='main.dashboard'>Contact</a></li>
        </ul>
      </div>
    </nav>
    <!-- Content -->
    <article id="content">
      <div class="navbar">
        <button id="sidebarToggler"><img src="styles/images/main/sidebar-toggler.jpg"/></button>

        <ol class="breadcrumb nav-bread">
          <li><a href="javascript:;">数据资源管理</a></li>
          <li><a href="javascript:;">元数据管理</a></li>
          <li>数据接入资源管理</li>
        </ol>

      </div>
      <div ui-view></div>
    </article>
  </div>
</div>
